@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');

.adjust1{
    width: 37rem;
    margin: 2rem;
    background: #fff;
}
.adjust2{
    height: 25rem;
    width: 100%;
    overflow: hidden;
}
.adjust3{
    width: 100%;
    height: 100%;
}
.adjust4:hover{
    color: burlywood;
    text-decoration: underline;
    cursor: pointer;
}
.adjust5{
    color: black;
    font-size: xx-large;
    display: flex;
    justify-content: space-evenly;
}
.adjust5 span{
    margin-top: 0.3rem;
}
.adjust5 span:hover{
    color: green;
    text-decoration: underline;
    cursor: pointer;
}
.adjust6 button{
    background: rgb(131, 89, 11);
    border-radius: 1rem;
}
.adjust6 p{
    font-size: x-large;
    margin: 0.5rem;
}
.adjust6 p:hover{
    cursor: pointer;
    color:  white;
}
.adjust7{
    color: green;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
    font-size: 62.5%;
}
body{
    background-color: rgb(20, 1, 1);
}
.header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    border-bottom: dashed #fff;
    position: fixed;
    background: rgb(20, 1, 1);
    opacity: 0;
}
.header:hover{
    opacity: 1;
    transition: opacity 0.5s ease;
}
.header-logo img{
    width: 12rem;
    margin-left: 20rem;
    margin-top: 2rem;   
    margin-right: 4rem;
    margin-bottom: 2rem;
    border: 0.4rem solid #eecab1;
}
.header-components a{
    font-size: large;
    margin: 2rem;
    margin-top: 5rem;
    color: #fff;
    
}
.header-icons{
    font-size: xx-large;
    color: #fff;
    margin: 2rem;
    padding: 4rem;
    margin-right: 20rem;
    cursor: pointer;
    display: flex;
    margin-top: 2rem;
    justify-content: flex-end;
}
.header-components a:hover{
    color: burlywood;
    border-bottom: .1rem;   
    text-decoration: underline;
}
.header-icons div:hover{
    color: burlywood;
}
.header-icons div{
    margin: 1rem;
    align-items: center;
}
#cart-btn,#search-btn{
    display: flex;
}
.sign-up{
    margin-bottom: 5rem;
}
.sign-up button{
    background: #eecab1;
    border-radius: 1rem;
}
.sign-up button p{
    font-size: x-large;
    margin: 0.5rem;
}
.sign-up button:hover{
    color: rgb(148, 82, 6);
    cursor: pointer;
}   
.main-home{
    width: 100%;
    margin-top: 6rem;
    display: inline-flex;
    justify-content: center;
}   
.main-home div{
    margin-left: 2rem;
}
.main-home1{
    margin-top: 7rem;
}
.main-home-image img{
    width: 70rem;
    border: 0.3rem solid #eecab1;
}
.main-home-text{
    width: 25%;
}
.main-home-text-headline{
    color: #fff;
    font-size: x-large;
    align-items: flex-end;
}
.main-home-text-important{
    color: #fff;
    margin-top: 2rem;
    font-size: large;
}
.main-home-page-text-button button{
    margin: 3rem;
    margin-left: 6rem;
}
.main-aboutus{
    display: flex;
    justify-content: center;
}
.main-aboutus-text{
    width: 25%;
    margin: 3rem;
    margin-top: 6rem;
}
.main-aboutus-text-head p{
    color: #fff;
    font-size: x-large;
}
.main-aboutus-text-text p{
    color: #fff;
    font-size: large;
    margin-top: 1rem;
}
.main-aboutus-text-quality li{
    color: #fff;
    font-size: large;
}
.main-aboutus-text-quality ol{
    margin-top: 1rem;
}
.main-aboutus-text-learn{
    margin: 2rem;
    justify-items: center;
    margin-left: 9rem;
}
.main-aboutus-image{
    margin-top: 4rem;
    width: 67rem;
    height: 38rem;
    position: relative;
    overflow: hidden;
}
.main-aboutus-image img{
    width: 63rem; 
    border: 0.3rem solid #eecab1;
    width: 100%;
    height: 100%;
}
.transition{
    position: absolute;
    top: 0rem;
    left: 0rem;
    opacity: 0;
    transition:opacity 0.5s ease;
}
.transition:hover{
    opacity: 1;
}
.main-products-text{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.main-beans{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.main-beans div{
    border: 0.2rem solid #eecab1;
}
.main-beans2 div{
    border: 0.2rem solid #eecab1;
} 
.main-beans2{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.main-checkout{
    margin-left: 45%;
}
.reviews{
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.main-review{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    margin-right: 2rem;
}
.adjust8{
    width: 25%;
    border: 0.3rem solid #eecab1;
    margin: 1rem;
}
.adjust8:hover{
    cursor: pointer;
}
.review-symbol{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.review-symbol p{
    font-size: xx-large;
}
.review-text{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.review-text p{
    color: white;
    font-size: medium;
    width: 70%;
}
.review-text p:hover{
    color: burlywood;
    text-decoration: underline;
}
.review-image{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.review-image img{
    width: 100%;
    height: 100%;
    width: 8rem;
    border-radius: 50%;
}
.review-name{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.review-name p{
    color: #fff;
    font-size: large;
}
.review-star{
    display: flex;
    justify-content: center;
}
.review-star p{
    color: burlywood;
    font-size: x-large;
    margin-bottom: 3rem;
}
.main-contactus{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}
.contactus{
    margin-top: 3rem;
}
.google-maps{
    margin-right: 4rem;
    border: 0.4rem solid #eecab1;
}
.contactus-details{
    margin-left: 4rem;
}
.touch{
    display: flex;
    justify-content: center;
}
.touch p{
    color: #fff;
    font-size: xx-large;
}
.adjust9{
    margin-top: 2rem;
}
.adjust9 div{
    margin: 2rem;
}
.adjust9 span{
    color: #fff;
    font-size: x-large;
    display: flex;
}
.adjust9 input{
    font-size: x-large;
    margin-left: 2rem;
    display: flex;
    background-color: black;
    color: #fff;
}
.adjust9 button{
    margin-right: 1rem;
}
.contactus-submit{
    display: flex;
    justify-content: center;
}
.search-form label{
    background: #fff;
    font-size: xx-large;
}
.search-form label:hover{
    color: green;
    text-decoration: underline;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}